<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl }}/index.html"><h1>{{ site.title }} | {{ page.title }}</h1></a>
        <p>{{ page.description }}</p>
        
        <p class="view"><a href="https://github.com/orionrobots/CnCNotes">View the Project on GitHub <small>orionrobots/CnCNotes</small></a></p>
        {% if page.tags %}
          <h2>Tags</h2>
          <ul class="tags">
          {% for tag in page.tags %}
            <li><a href="{{ site.baseurl }}/tags.html#{{ tag }}-ref">{{ tag }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="http://orionrobots.co.uk">orionrobots</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>    
<!--[if !(lte IE 8)]><!--> 
   <script type="text/javascript"> 
     (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
   </script>
<!--<![endif]-->
  </body>
</html>
